@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/play-v19-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/play-v19-cyrillic_latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-cyrillic_latin-500.woff2") format("woff2");
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-promo-text: #4a4a4a;
  --color-link-light: #fff;
  --color-copyright: #747272;
  --color-text: #000;
  --font-family-primary: "Roboto";
  --font-family-title: "Play";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--color-brand-dark);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

address {
  font-size: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}

/*header  */
.header {
  padding: 42px 0;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-logo {
  max-width: 74px;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-nav__list {
  display: flex;
  gap: 56px;
  flex-grow: 1;
  justify-content: center;
}

.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.header-logo {
  color: var(--color-brand-light);
  font-family: var(--font-family-title);
  font-size: 22px;
  font-weight: 700;
  line-height: 21px;
  text-transform: capitalize;
}

.header-nav__link {
  color: var(--color-brand-dark);
}

.header-nav__link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.header-contact__link:hover svg path {
  fill: var(--color-brand-light);
}

/* hero-section */

.hero {
  margin-bottom: 40px;
}

.hero__title {
  margin-bottom: 16px;
}

.hero-content {
  max-width: 529px;
  margin-left: 106px;
}

.hero__title-main {
  color: var(--color-brand-light);
  font-family: var(--font-family-title);
  margin-bottom: 40px;
  font-size: 140px;
  font-weight: 700;
  line-height: 114px; /* 81.429% */
  text-transform: capitalize;
}

.hero__button {
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  background: var(--color-brand-light);
  color: var(--color-link-light);
  margin-bottom: 12px;
  padding: 16px 32px;
}

.hero__button:hover {
  color: var(--color-brand-dark);
  background: transparent;
}

.hero__promo {
  color: var(--color-promo-text);
  /* text-align: center; */
  font-size: 12px;
  line-height: 18px;
}

.hero-action-container {
  max-width: 238px;
}

/* advertisement-section */

.advertisement {
  margin-bottom: 176px;
}

.advertisment-container {
  max-width: 709px;
}

.advertisement__title {
  font-family: var(--font-family-title);
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 40px;
}

.advertisement__title span {
  color: var(--color-brand-light);
  text-transform: capitalize;
}

.advertisement__text {
  font-family: var(--font-family-title);
  font-size: 22px;
  line-height: 38px;
  margin-bottom: 40px;
}

.advertisement__text span {
  font-weight: 600;
  text-transform: capitalize;
}

/* advantages section */
.advantages {
  margin-bottom: 96px;
}

.advantages-content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 56px;
}

.advantages__item {
  flex-basis: calc((100% - 112px) / 3);
  height: 181px;
  padding: 24px 32px;
  border-radius: 32px;
  background: var(--color-link-light);
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}

.advantages__item__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.advantages__title {
  text-align: center;
  font-family: var(--font-family-title);
  margin-bottom: 48px;
  font-size: 64px;
  font-weight: 700;
}

.advantages__title span {
  color: var(--color-brand-light);
}

.advantages__description {
  color: var(--color-text);
  text-align: center;
  line-height: 24px;
}

/* services-section */

.services {
  margin-bottom: 96px;
}

.services__title {
  text-align: center;
  font-family: var(--font-family-title);
  margin-bottom: 48px;
  font-size: 64px;
  font-weight: 700;
}

.services__title span {
  color: var(--color-brand-light);
}

.services-card__title {
  color: var(--color-link-light);
  text-align: center;
  font-size: 22px;
  line-height: 26px; /* 118.182% */
}

.services-content__item {
  flex-basis: calc((100% - 32px) / 3);
}

.services-content__list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
}

/* address-section  */
.address {
  margin-bottom: 94px;
}

.address__title {
  text-align: center;
  font-family: var(--font-family-title);
  margin-bottom: 48px;
  font-size: 64px;
  font-weight: 700;
}

iframe {
  max-width: 600px;
  width: 100%;
}

.address__title span {
  color: var(--color-brand-light);
}

/* footer */

.footer {
  background: var(--color-brand-dark);
}

.footer-nav__logo {
  color: var(--color-brand-light);
  font-family: var(--font-family-title);
  font-size: 24px;
  font-weight: 700;
  /* max-width: 83px; */
  line-height: 21px;
  text-transform: capitalize;
}

.footer-nav__item__link,
.footer-address__list__item__link,
.footer-privacy__link {
  color: var(--color-link-light);
  font-size: 16px;
}

.footer-nav__item__link:hover,
.footer-address__list__item__link:hover,
.footer-privacy__link:hover {
  color: var(--color-brand-light);
  font-weight: 700;
}

.footer-address__item__link:hover svg path {
  fill: var(--color-brand-light);
}

.footer-copyright {
  color: var(--color-copyright);
  font-size: 13px;
}
